*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: dashed #263238 1px;
}

:root {
    --text-color:#21243D;
    --white-color:#fff;
    --primary-color: #FF6464;
    --secondry-color:#00A8CC;
    --blac-color: #000000;
}
body {
    font-family: 'Heebo', 'arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER STYLE  */
.container {
    width: 100%;
    max-width: 1152px;
    padding:0 148px;
    margin-left: auto;
    margin-right: auto;
}
/* HEADER SEKTION */
.header_list {
    padding: 27px 60px 158px 0;
    display: flex;
    justify-content: end;
}
.header_list_item {
    list-style: none;
    
}
.header_list_item a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: var(--blac-color);
}
.header_list_item:not(:last-child) {
    margin-right: 33px;
}
.header_link {
    display: none;
}
/* HEADER SEKTION END */

/* MAIN SECTION */

/* NAVBAR */
.navbar {
    padding-bottom: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.navbar_section {
    width: 506px;
}
.navbar_section_title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: var(--text-color);
}
.navbar_section_text {
    margin-bottom: 38px;
}
.navbar_section_btn {
    padding: 9px 21px 17px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    border-radius: 2px;
    color: var(--white-color);
    background: #FF6464;
}
.navbar_img {
    width: 243px;
    height: 243px;
}
/* NAVBAR END */

/* MAIN RECENT */
.main_recent {
    padding: 0 0 32px 0;
    background: #EDF7FA;
}
.main_recent_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_recent_post_title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    display: flex;
    align-items: flex-end;
    color:var(--text-color);
}
.main_recent_post_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secondry-color);
}
.main_recent_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_recent_list_item {
    width: 418px;
    padding: 24px 27px 7px 23px;
    background: var(--white-color);
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}
.main_recent_list_item_title {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: var(--text-color);
}
.main_recent_list_item_feb {
    margin-bottom: 11px;
    display: flex;
}
.main_recent_list_item_feb div {
    margin-right: 15px;
    display: flex;
}
.main_recent_list_item_feb_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.feb {
    width: 0px;
    height: 21px;
    margin-left: 25px;
    border: 1px solid #000000;
}
.main_recent_list_item_text {
    padding-bottom: 20px;
}
/* MAIN RECENT END */

/* MAIN WORKS */
.main_works {
    padding-top: 15px;
    padding-bottom: 83px;
}
.main_works_title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: var(--text-color);
}
.main_works_future {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main_works_future_img {
    width: 246px;
    height: 180px;
}
.main_works_future_days {
    width: 594px;
}
.main_works_future_days_title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: var(--text-color);
}
.main_works_future_days_div {
    display: flex;
    margin-bottom: 17px;
}
.main_works_future_days_div div {
    width: 62px;
    height: 25px;
    margin-right: 26px;
    text-align: center;
    background: #142850;
    border-radius: 16px;
}
.main_works_future_days_div div p {
    color:var(--white-color);
}
.main_works_future_days_divitem {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.main_works_future_item {
    color: var(--text-color);
}
.hr {
    margin-bottom: 33px;
    border: 1px solid #E0E0E0;
}
/* MAIN WORKS END */

/* MAIN SECTION END */

/*  FUTURE */
.future {
    padding-top: 51px;
    padding-bottom: 54px;
}
.future_link {
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
}
.future_link_img {
    width: 30px;
    height: 30px;
}
.future_link_img:not(:last-child) {
    margin-right: 35px;
}
.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
/* FUTURE END */

@media screen and (max-width:446.9px) {
    .container {
        max-width: 446.9px;
        padding:0 10px;
    }
    /* HEADER SEKTION */
    .header_list {
        display: none;
    }
    .header_link {
        padding-top: 20px;
        padding-right: 18px;
        margin-bottom: 45px;
        display: flex;
        justify-content: end;
    }
    .header_link_img {
        width: 30px;
        height: 18px;
    }
    /* HEADER SEKTION END */
    
    /* MAIN SECTION */
    
    /* NAVBAR */
    .navbar {
        justify-content: center;
    }
    .navbar_section {
        width: 328px;
        padding-bottom: 58px;
        order: 2;
    }
    .navbar_section_title {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }
    .navbar_section_text {
        text-align: center;
    }
    .navbar_section_btn {
        display: flex;
        justify-content: center;
    }
    .navbar_img {
        width: 171px;
        height: 171px;
        order: 1;
        margin-bottom: 43px;
    }
    /* NAVBAR END */
    
    /* MAIN RECENT */
    .main_recent {
        padding: 0 0 32px 0;
        background: #EDF7FA;
    }
    .main_recent_post {
        justify-content: center;
    }
    .main_recent_post_link {
        display: none;
    }
    .main_recent_list_item {
        width: 354px;
        padding: 12px 21px 22px 19px;
        margin-bottom: 18px;
    }
    .main_recent_list_item_title {
        font-size: 22px;
        line-height: 30px;
    }
    .main_recent_list_item_feb {
        margin-bottom: 19px;
    }
    .main_recent_list_item_feb div {
        margin-right: 24px;
    }
    .main_recent_list_item_feb_text {
        font-size: 16px;
        line-height: 24px;
    }
    .feb {
        margin-left: 24px;
    }
    /* MAIN RECENT END */
    
    /* MAIN WORKS */
    .main_works {
        padding-bottom: 53px;
    }
    .main_works_title {
        text-align: center;
        font-size: 18px;
        line-height: 60px;
    }
    #none {
        display: none;
    }
    #as {
        display: none;
    }
    .main_works_future {
        justify-content: center;
    }
    .main_works_future_img {
        width: 339px;
        height: 230px;
    }
    .main_works_future_days {
        width: 344px;
    }
    .main_works_future_days_title {
        font-size: 24px;
        line-height: 30px;
    }
    .main_works_future_days_div div p {
        color:var(--white-color);
    }
    .main_works_future_days_divitem {
        font-size: 16px;
        line-height: 24px;
    }
    .hr {
        margin-bottom: 150px;
    }
    /* MAIN WORKS END */
    
    /* MAIN SECTION END */
    
    /*  FUTURE */
    
}